@{
    ViewData["Title"] = "Index Page";
}

@* the above is a Razor code block.
It sets the view data dictionary title. 
It passes data to from the view to the layout page *@

<div class="text-center">
    @* <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
     *@
    <h2>Welcome to MakersBnB!</h2>

    <ul>
    @{ 
        string[] names = new string[3] {"Great rooms", "Clean rooms and friendly landlord", "Would go back again"};
        foreach(string name in names) {
        <li>@name</li>
        }
    }
    </ul>

</div>
